
<h1>Add Ingredients</h1>
<form action="/recipes/add" method="POST">

    <label for="">Ingredients Name:</label>
    <input type="text" name="name">

    <label for="">Qty:</label>
    <input type="number" name="qty">

    <label for="">measurement</label>
    <input type="text" name="measurement">
    <button>Save</button>
    <button>Publish</button>
  
  
</form>
<form action="/recipe/add2" method="POST">
<button>Add Method</button>
</form>

