<h1>myfitnesspal</h1>

<a href ="/recipe/new">Add new recipe to your book</a>
<section class="recipes">
<% recipes.each do |recipe| %>
<section class="recipe">

<img src="<%= recipe['image_url'] %>" alt="">
<h1>Name:<%= recipe['name']%></h1>
<p><%= recipe['description'] %></p>
<% end %>
</section>
