<h1>Add Recipe</h1>
<form action="/recipes" method="POST">

  <label for="">Image url</label>
  <input type="text" name="image_url">

   <label for="">Recipe Name:</label>
  <input type="text" name="name">

  <label for="">Description:</label>
  <input type="text" name="description">
  
  <button>Add recipe</button>
</form>

<form action="/recipe/add" method="POST">
<button>Add Ingredients</button>
</form>