<h1>myfitnesspal</h1>


<section class="">
<% ingredients.each do |ingredient| %>
<section class="">

<ul>
<li><%= ingredient['name'] %></li>
<li><%= ingredient['qty'] %></li>
<li><%= ingredient['measurement'] %></li>
</ul>

<% end %>
</section>
